<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='covid-19.png') }}" />

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>

  <div>
    <h3>
      <a class="btn-nav" href="{{ url_for('news_bp.articles_by_date') }}">
        Browse timeline
      </a>
    </h3>
  </div>

  <div>
    <h3 id="sub-nav-header">Browse by tag</h3>
    {% for key in tag_urls %}
      <a class="btn-nav" href="{{ tag_urls[key] }}">{{ key }}</a>
    {% endfor %}
  </div>

  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
