{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    The COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing
    global pandemic of coronavirus disease 2019 (COVID‑19), caused by severe
    acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2). The outbreak was
    first identified in Wuhan, China, in December 2019. The World Health
    Organization declared the outbreak a Public Health Emergency of
    International Concern on 30 January 2020 and a pandemic on 11 March. As of
    23 July 2020, more than 15.2 million cases of COVID‑19 have been reported in
    more than 188 countries and territories, resulting in more than 623,000
    deaths; more than 8.64 million people have recovered.
  </p>
  <br />
  <p>
    The virus is primarily spread between people during close contact, most
    often via small droplets produced by coughing, sneezing, and talking. The
    droplets usually fall to the ground or onto surfaces rather than travelling
    through air over long distances. Transmission may also occur through smaller
    droplets that are able to stay suspended in the air for longer periods of
    time. Less commonly, people may become infected by touching a contaminated
    surface and then touching their face. It is most contagious during the first
    three days after the onset of symptoms, although spread is possible before
    symptoms appear, and from people who do not show symptoms.
  </p>
  <br />

  <p>
    The pandemic has caused global social and economic disruption,including the
    largest global recession since the Great Depression and global famines
    affecting 265 million people. It has led to the postponement or cancellation
    of sporting, religious, political, and cultural events, widespread supply
    shortages exacerbated by panic buying, and decreased emissions of pollutants
    and greenhouse gases. Schools, universities, and colleges have been closed
    either on a nationwide or local basis in 172 countries, affecting
    approximately 98.5 percent of the world's student population. Misinformation
    about the virus has circulated through social media and mass media. There
    have been incidents of xenophobia and discrimination against Chinese people
    and against those perceived as being Chinese or as being from areas with
    high infection rates.
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
